@import '_reset';
@import '_mixins';
@import '_palette';

* {
  box-sizing: border-box;
  transition-duration: 0.25s;
}

.App {
  @include center;
  background:$background-color;
  color:$text-color;
  font-family: 'Lato', sans-serif;
  flex-direction: column;
  line-height:1.5;
  margin:0 auto;
  margin-bottom:2rem;
  max-width:100%;

  a {
    color:$link-color;
    margin:0 4px;
    text-decoration: none;

    &:hover {
      color:$link--active;
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size:1.75rem;
  }

  h4 {
    font-size:1.15rem;
    margin:6px 0;
  }

  h5 {
    font-size:1.5rem;
    margin:0;
    padding:0;
  }

  h6 {
    font-size: 0.75rem;
    margin:0;
    padding:0;
    margin-top:16px;
  }

  header {
    @include center;
    border-bottom:2px solid $ux-secondary;
    margin-bottom:12px;
    padding:12px;
    max-width:900px;
    width:90%;
  }

  main {
    @include center;
    align-items: baseline;
    justify-content: center;
    max-width:900px;
    width:90%;

    #big-logo {
      align-self: flex-start;
      max-width:400px;
      width:50%;
    }
  }

  small {
    font-size:0.65rem;
  }

  strong {
    font-weight:900;
  }
}
