@import './App.scss';

.nav {
	@include center;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 900px;
	width: 100%;

	@media (max-width: 600px) {
		flex-direction: column-reverse;
	}

	.link--active {
		color: $ux-black;
		text-decoration: underline;
	}

	.nav__left {
		@include center;

		@media (max-width: 600px) {
			margin-top: 8px;
		}

		#nav__logo {
			width: 80px;
			margin-right: 4px;
		}
	}
}
