$ux-black:#272727;
$ux-grey: #676767;
$ux-primary:#28810B;
$ux-secondary:#549D3F;
$ux-white: white;


$background-color: $ux-white;
$input-color:papayawhip;

$headline-color: $ux-primary;
$text-color: $ux-secondary;
$link-color: $ux-grey;
$link--active: $ux-black;