@import 'reset';
@import '_palette';

@mixin center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

.App {
  @include center;
  color:$text-color;
  flex-direction: column;
  line-height:1.5;
  width:100%;

  a {
    color:$link-color;
    margin:0 4px;
    text-decoration: none;

    &:hover {
      color:$link--active;
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 2rem;
  }

  header {
    @include center;
    border-bottom:4px solid $ux-secondary;
    margin-bottom:12px;
    width:100%;
  }

  main {
    @include center;
    width:90%;

    img {
      border:1px solid magenta;
      padding:8px;
    }
  }
}
