@import 'reset';
@import '_palette';

@mixin center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

.App {
  @include center;
  // border:1px solid red;
  color:$text-color;
  flex-direction: column;
  line-height:1.5;
  margin:0 auto;
  max-width:100%;

  a {
    color:$link-color;
    margin:0 4px;
    text-decoration: none;

    &:hover {
      color:$link--active;
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 2rem;
  }

  header {
    @include center;
    border-bottom:4px solid $ux-secondary;
    margin-bottom:12px;
    padding:12px;
    // position:fixed;
    // top:0;
    width:100%;
  }

  main {
    @include center;
    // border:1px solid red;
    // justify-content: space-between;
    justify-content: center;
    max-width:700px;
    width:90%;

    #big-logo {
      max-width:400px;
      width:50%;
    }

  }
}
